@media screen and (max-width: 575.98px) {
    .top-nav-btn {
      display: block;
    }



    .menu {
      flex-direction: column;
      text-align: left;
      display: none;
    }
      & li {
        line-height: 2;

      }
      &::after {
        display: none;
      }
.menu__activ {
        display: flex;
    }

    .buy__now {
      position: inherit;
      right: 120px;
      top: -44px;
      height: 48px;
      width: 150px;
    }
  .title {
    padding: 0;
  }
  .title_heading {
    margin-top: 30px;
  }
  .title__desc2 {
    font-weight: 700;
  }
  .editor__days {
    font-weight: 700;
    margin-top: 10px;

  }
  .editor__text {
    font-size: 16px;
    margin: 0 20px;
  }

  .tures__code {
    font-size: 40px;
  }

  .usirpic__name_text1 {
    padding: 0 50px;
    font-size: 16px;
  }

  .talking_dec {
    padding: 50px;
  }

  .subscription__hover {
    margin-bottom: 50px;
    left: 128px;

  }

  .features__icons_edit {
    overflow: hidden;
    max-width: 570px;
    position: relative;
    right: -112px;
  }
.features__code {
  text-align: center;
}

.features__icons {
  text-align: center;
  margin-top: 30px;
}

.features__icons img {
  margin-bottom: 30px;
}

.sep__laine {
  display: none;
}

.subscription__bloc {
  margin-bottom: 10px;
}

}
